.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
 
}

* {
  box-sizing: border-box;
}
body{
  background: #d0e0e6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}


.button {
  color: #55c5c9;
  cursor: pointer;
  width: 100px;
}

.button:hover {
  transform: scale(1.02);
}

#img-list {
  display: none;
  align-items: center;
  justify-content: center;
}
#chooseLevel{
 
  font-size: 20px;
  font-weight:bold;
  color: #e2725a;
}

 .levelCard{
  cursor: pointer;
  display: flex;
  max-width: 100%;
  background: #c1db83;
  width: 150px;
  height: 250px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  overflow: hidden;
}

.levelCard:hover {
  background: #eec0c8;
  /* background: #d294af; */
  /* background: #fdd8d6; */
  color: #fff;
  transform: scale(1.02);
}

